@charset "utf-8";
/* CSS Document*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.header {
	text-align:center;	
}

img {
    max-width: 100%;
    height: auto\9;
    width: auto\9; /* ie8 */
}

body {
	background-image: url('');
	color: #;
	font-size: 87.5%; /*Base font size is 14px (out of 40 px) */
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;	
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #FFFFFF;
}

a:hover, a:active {
	color: #FFF;
}

.body {
	margin: 0 auto;
	width: auto;
	max-height: 600px;
	clear: both;
	display: run-in;
	padding-bottom: 0px;
}

a:link {
	color:#111111;	
}

.onethird {
	vertical-align: top;
	text-align:center;
	width:30%;
	display:inline-block;
}

.row {
	background:
	linear-gradient(
		#69D968,
		transparent
	),
	linear-gradient(
		60deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		#FBECAD,
		transparent
	);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.85); /* FF3.5+ */
			  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 810px -68px #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.65); /* Saf3.0+, Chrome */
			          box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.85); /* Opera 10.5, IE 9.0 */
background-blend-mode: screen;
					-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.row .image {
	width: 45%;
	
}

.row background-image {
	opacity:0;
    -webkit-animation: moveFromRight 1s ease;
	-moz-animation:moveFromRight 1s ease;
	 -o-animation:moveFromRight 1s ease;
	 animation:moveFromRight 1s ease;
			-webkit-animation-delay:4s;
			-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;

}





.row .text {
	float: left;
	vertical-align: middle;
	padding: 0px;
	width: 45%;
}

.row h1 {
	font-size:28px;
	text-align:center;
font-family: 'Josefin Sans', sans-serif;
	opacity:0;
    -webkit-animation: moveFromRight 1s ease;
	-moz-animation:moveFromRight 1s ease;
	 -o-animation:moveFromRight 1s ease;
	 -ms-animation:moveFromRight 1s ease;
	 animation:moveFromRight 1s ease;
			-webkit-animation-delay:1s;
			-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
			-moz-animation-fill-mode:forwards;
			-ms-animation-fill-mode:forwards;
    animation-fill-mode: forwards;
}



@-webkit-keyframes moveFromRight{
    from {
        -webkit-transform: translateY(50%);
		opacity: 0;
    }
    to {
        -webkit-transform: translateY(0%);
		 opacity: 1;
    }
	
}

@keyframes moveFromRight{
    from {
        transform: translateY(50%);
		opacity: 0;
    }
    to {
        transform: translateY(0%);
		 opacity: 1;
    }
	
}
/* Firefox < 16 */
@-moz-keyframes moveFromRight{
    from {
        -moz-transform: translateY(50%);
		opacity: 0;
    }
    to {
        -moz-transform: translateY(0%);
		 opacity: 1;
    }
	
}

/* Internet Explorer */
@-ms-keyframes moveFromRight{
    from {
        -ms-transform: translateY(50%);
		opacity: 0;
    }
    to {
        -ms-transform: translateY(0%);
		 opacity: 1;
    }
	
}

/* Opera < 12.1 */
@-o-keyframes moveFromRight{
    from {
        -o-transform: translateY(50%);
		opacity: 0;
    }
    to {
        -o-transform: translateY(0%);
		 opacity: 1;
    }
	
}


.row h2 {
	padding-bottom:10px;
color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
	font-family: 'Quicksand', sans-serif;
	opacity:0;
    -webkit-animation: moveFromRight 2s ease;
	-moz-animation:moveFromRight 2s ease;
	 -o-animation:moveFromRight 2s ease;
	 animation:moveFromRight 2s ease;
	 -ms-animation:moveFromRight 2s ease;
			-webkit-animation-delay:2s;
			-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
	
}

.row p {
	font-family: 'Ubuntu', sans-serif;
	opacity:0;
    -webkit-animation: moveFromRight 2s ease;
	-moz-animation:moveFromRight 2s ease;
	 -o-animation:moveFromRight 2s ease;
	 animation:moveFromRight 2s ease;
	 -ms-animation:moveFromRight 2s ease;
			-webkit-animation-delay:2s;
			-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}



.mainContent {
	line-height: 25px;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.post-info {
	font-style:italic;
	font-size:14px;	
}

.topcontent {
	width: 45%;
	text-align:center;
	height: auto;
	background-color:#FFFFFF;
	padding: 3% 5%;	
	margin-top: 1%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	-noz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	font-family: 'Titillium Web', sans-serif;
	font-size:18px;
	-moz-box-shadow: 0px 0 4px 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.85); /* FF3.5+ */
			  -webkit-box-shadow: 0px 0 4px 2px rgba(0, 0, 0, 0.35), 0 85px 810px -68px #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.65); /* Saf3.0+, Chrome */
			          box-shadow: 0px 0 4px 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.85); /* Opera 10.5, IE 9.0 */
					  background-image: -moz-linear-gradient(top, #f6f2ec, #e2dbce); /* FF3.6 */
			  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f6f2ec),color-stop(1, #e2dbce)); /* Saf4+, Chrome */
			            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f2ec', EndColorStr='#e2dbce'); /* IE6,IE7 */
			        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f2ec', EndColorStr='#e2dbce')"; /* IE8 */
}

.mainFooter {
	width: 100%;
	height: 130px;
	float: right;
	background-color: #404040;
	margin-top: 6%;
	position: relative;
	background-image:url(FooterBG.jpg);
	background-size: contain;
	background-repeat: no-repeat; 
	background-attachment: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: 'Titillium Web', sans-serif;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.mainFooter p {
	max-height: auto\9;
	max-width:100%\9;
	width: 100%;
	margin: 1px auto;
	color: #0F0F0F;
	position: relative;
	display: block;
	float: left;
	font-family: 'Titillium Web', sans-serif;
}


@import url(http://fonts.googleapis.com/css?family=Lora);
#cssmenu.fixed {
	position:fixed;	
	z-index: 9999;
 	top:0px;
	width:100%;
}

#cssmenu {
	display:inline-block;	
}

#cssmenu,
#cssmenu ul li a,
#menu-button {
height: auto;
margin: px;
text-align: center;
padding-top: 0px;
padding-right: 0px;
padding-left: 0px;
padding-bottom: 0px;
border: 0;
list-style: none;
line-height: 1;
display: block;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: auto;
padding:0 30px;
-webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;

}


#cssmenu ul {
margin:0;
padding:0;
position:relative;
text-align:center;  
}
#cssmenu ul li {
display:inline-block;
list-style:none;
margin:0;
padding:0;
position:relative;
}
#cssmenu:after,
#cssmenu > ul:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
text-align:center;
}
#cssmenu #menu-button {
display: none;
text-align: center;
width: auto;
}
#cssmenu {
font-family: 'Oswald', sans-serif;
border-bottom: 2px solid rgba(0,0,0,.2); *Opacity*
line-height: 1;
padding: 16px;
text-align: center;
opacity: 1;
position: relative;
background-color: #00a5d4;
}
#cssmenu a.active {
	color: #444444;	
}

#cssmenu li.active {
	color: #444444;	
}

#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
	color: #444444;
	display: block;
	width: auto;
	text-align:center;
}


#cssmenu.small-screen {
 width: 100%;
height: auto;
margin: px;
text-align: center;
padding-top: 0px;
padding-right: 0px;
padding-left: 0px;
padding-bottom: 0px;
border: 0;
list-style: none;
line-height: 1;
display: block;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: auto;
padding:0 30px;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF
  background: url('images/bg.png');
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #FFF
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: #FFF;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #FFF;
}
#cssmenu.small-screen #menu-indicator {
  display: none;
}


@media only screen and (min-width: 150px) and (max-width: 700px)
{
	

.body {
	width:98%;
	font-size: 95%;
}
	
.mainheader img {
	width: 100%;
}


.content {
	width: 100%;
	float: left;	
	margin-top: 2%;
}

.post-info {
	display: none;
	
}

.topcontent {
	background-color:#FFFFFF;
	border-radius: 5px;
	-noz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;	
	margin-top: 2%;
	margin-bottom: 4%;
}

.bottomcontent {
	margin-top: 3%;	
}

.top-sidebar {
	width: 94%;	
	margin: 2% 0 2% 0; /* top right bottom left*/
	padding: 2% 3%;
}

.middle-sidebar {
	width: 94%;	
	margin: 2% 0 2% 0; /* top right bottom left*/
	padding: 2% 3%;
}

.bottom-sidebar { 
	width: 94%;	
	margin: 2% 0 2% 0; /* top right bottom left*/
	padding: 2% 3%;
}



 
